page-geometria {
  .card{
    margin: 0px !important;
    width: 100% !important;
  }
  ion-grid{
    padding: 0px !important;
  }
  ion-col{
    padding: 0px !important;
  }
  .fixed-header{
    width:100%;
    position:absolute;
    text-align:center;
    padding:0px;
  }


}
