<ion-header color="brakepak">
  <ion-navbar primary>
    <ion-title>Geometría</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="openPopOver($event)">
        <ion-icon color="ligth" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="card">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-label>Categor&iacute;a</ion-label>
            <ion-select [(ngModel)]="subgrupoId" interface="popover">
              <ion-option class="option" *ngFor="let subgrupo of lsSubgrupo" value="{{subgrupo.id}}">{{subgrupo.nombre |
                lowercase | capitalize:true}}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button ion-button clear (click)="openPopOverFiltro($event)">
            <ion-icon name="ios-funnel"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-list no-lines>
    <ion-grid>
      <ion-row>
        <ion-col col-xl-4 col-lg-6 col-md-12 *ngFor="let producto of productos">
          <ion-item text-wrap>
            <ion-thumbnail item-start>
              <img src="{{urlImagen}}{{producto.imagen}}" (error)="checkImage($event)"/>
            </ion-thumbnail>
            <h2>{{producto.referencia}} {{producto.fmsi}}</h2>
            <p></p>
            <button ion-button clear item-end large (click)="infoModal(producto)">
              <ion-icon color="ligth" name="more"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="blScroll">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
