<ion-header color="brakepak">
  <ion-navbar primary>
    <ion-title>Referencia</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="openPopOver($event)">
        <ion-icon color="ligth" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="card">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <select-searchable
              [(ngModel)]="referencia"
              title="B&uacute;squeda por referencia"
              itemValueField="id"
              itemTextField="nombre"
              [items]="referencias"
              [canSearch]="true"
              searchPlaceholder="Ingrese más de 3 caracteres"
              (onSearch)="searchReferencia($event)"
              (onChange)="referenciaChange($event)">
            </select-searchable>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list no-lines>
    <ion-grid>
      <ion-row>
        <ion-col col-xl-4 col-lg-6 col-md-12 *ngFor="let producto of productos">
          <ion-item text-warp>
            <ion-thumbnail item-start>
              <img src="{{urlImagen}}{{producto.imagen}}" item-start>
            </ion-thumbnail>
            <h2>{{producto.referencia}} {{producto.fmsi}}</h2>
            <p>{{producto.marca}}</p>
            <button ion-button clear item-end large (click)="infoModal(producto)">
              <ion-icon color="ligth" name="more"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="blScroll">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
