page-modal {
  ion-item-divider{
    /*font-size: 1.2rem !important;
    font-weight: bold !important;*/
    background-color: #f4f4f4 !important;
  }

  .fontSize9{
    font-size: 1rem !important;
  }
}
